﻿@model ManufacturerModel
@inject IViewComponentSelector viewComponentSelector
@using Nop.Plugin.Misc.ZimzoneAdditionalFeature.Service.Erp
@inject IErpManufacturerService erpManufacturerService

@{
    var erpManufacturer = await erpManufacturerService.GetErpManufacturerByNopManufacturerIdAsync(Model.Id);
    if (erpManufacturer != null && !string.IsNullOrEmpty(erpManufacturer.ImageLink))
    {
        var pictureModel = new PictureModel()
        {
            FullSizeImageUrl = erpManufacturer.ImageLink,
            ImageUrl = erpManufacturer.ImageLink,
            Title = erpManufacturer.BrandName,
            AlternateText = erpManufacturer.BrandName
        };
        Model.PictureModel = pictureModel;
    }
}
<div class="manufacturer-item">
    <h2 class="title">
        <a href="@Url.RouteUrl("Manufacturer", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
            @Model.Name
        </a>
    </h2>
    <div class="picture">
        <a href="@Url.RouteUrl("Manufacturer", new { SeName = Model.SeName })" title="@Model.PictureModel.Title">
            @if (viewComponentSelector.SelectComponent("LazyLoadImage") != null)
            {
                @await Component.InvokeAsync("LazyLoadImage", new (string Key, string Value)[]
                {
                    ("src", Model.PictureModel.ImageUrl),
                    ("alt", Model.PictureModel.AlternateText),
                    ("title", Model.PictureModel.Title)
                })
            }
            else
            {
                <img alt="@Model.PictureModel.AlternateText" src="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title" />
            }
        </a>
    </div>
</div>