﻿@model ZimzoneServiceModel
@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Plugins.Misc.ZimzoneAdditionalFeature.Create").Text;

}
<script>
    $(document).ready(function() {
        toggleRemoveButton1();
        toggleRemoveButton2();
    });
    function toggleRemoveButton1() {
        if ($('#@Html.IdFor(model => model.ServiceProductId)').val() > 0) {
            $('#product-name-remove').showElement();
        } else {
            $('#product-name-remove').hideElement();
        }
    }
    function toggleRemoveButton2() {
        if ($('#@Html.IdFor(model => model.ServicePaymentProductId)').val() > 0) {
            $('#payment-product-name-remove').showElement();
        } else {
            $('#payment-product-name-remove').hideElement();
        }
    }
</script>
<form asp-controller="AdditionalFeature" asp-action="Create" method="post">
    <div class="content-header clearfix">

        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="IsActive" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="IsActive" />
                                    <span asp-validation-for="IsActive"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ServiceProductId" />
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" asp-for="ServiceProductId" />
                                    <span id="product-name">@Model.ServiceProductName</span>
                                    <span asp-validation-for="ServiceProductId"></span>
                                    <button type="submit" onclick="javascript:OpenWindow('@(Url.Action("ChooseService", "AdditionalFeature" , new {productIdInput=Html.IdFor(model =>
                                            model.ServiceProductId), productNameInput = "product-name", btnId = "btnRefreshServiceProduct"}))', 800, 850, true); return false;" class="btn btn-primary">
                                        Choose
                                    </button>
                                    <button type="submit" id="product-name-remove" class="btn btn-danger">
                                        Remove
                                    </button>
                                    <button type="submit" id="btnRefreshServiceProduct" style="display: none"></button>

                                    <script>
                                            $(document).ready(function () {
                                                $('#product-name-remove').click(function () {
                                                    $('#product-name').text('');
                                                    $("#@Html.IdFor(model => model.ServiceProductId)").val(0);
                                                    toggleRemoveButton1();
                                                    //return false to don't reload a page
                                                    return false;
                                                });

                                                $('#btnRefreshServiceProduct').click(function () {
                                                    toggleRemoveButton1();

                                                    //return false to don't reload a page
                                                    return false;
                                                });
                                            });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ServicePaymentProductId" />
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" asp-for="ServicePaymentProductId" />
                                    <span id="payment-product-name">@Model.ServicePaymentProductName</span>
                                    <span asp-validation-for="ServicePaymentProductId"></span>
                                    <button type="submit" onclick="javascript:OpenWindow('@(Url.Action("ChooseService", "AdditionalFeature" , new {productIdInput=Html.IdFor(model =>
                                            model.ServicePaymentProductId), productNameInput = "payment-product-name", btnId = "btnRefreshServicePaymentProduct"}))', 800, 850, true); return false;" class="btn btn-primary">
                                        Choose
                                    </button>
                                    <button type="submit" id="payment-product-name-remove" class="btn btn-danger">
                                        Remove
                                    </button>
                                    <button type="submit" id="btnRefreshServicePaymentProduct" style="display: none"></button>

                                    <script>
                                            $(document).ready(function () {
                                                $('#payment-product-name-remove').click(function () {
                                                    $('#payment-product-name').text('');
                                                    $("#@Html.IdFor(model => model.ServicePaymentProductId)").val(0);
                                                    toggleRemoveButton2();
                                                    //return false to don't reload a page
                                                    return false;
                                                });

                                                $('#btnRefreshServicePaymentProduct').click(function () {
                                                    toggleRemoveButton2();

                                                    //return false to don't reload a page
                                                    return false;
                                                });
                                            });
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
