﻿@model ServiceSearchModel
@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Plugins.Misc.ZimzoneAdditionalFeature.ZimzoneServiceList").Text;
    Html.SetActiveMenuItemSystemName("AdditionalFeature.ServiceList");
}

@{
    const string hideSearchBlockAttributeName = "ServiceListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<form asp-controller="AdditionalFeature" asp-action="ServiceList" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Misc.ZimzoneAdditionalFeature.ZimzoneServiceList")
        </h1>
        <div class="float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a> 
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchServiceName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchServiceName" />
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group row">
                                            @*<div class="col-md-4">
                                                <nop-label asp-for="SearchIsActive" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchIsActive" />
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-services" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                       {
                           Name = "services-grid",
                           UrlUpdate = new DataUrl("ServicesUpdate", "AdditionalFeature", null),
                           UrlRead = new DataUrl("Services", "AdditionalFeature", null),
                           SearchButtonId = "search-services",
                           Length = Model.PageSize,
                           LengthMenu = Model.AvailablePageSizes,
                           Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchServiceName)),
                                },
                           ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(ZimzoneServiceModel.Id))
                                    {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox("checkbox_services"),
                                        ClassName =  NopColumnClassDefaults.CenterAll,
                                        Width = "50"
                                    },
                                    new ColumnProperty(nameof(ZimzoneServiceModel.ServiceProductName))
                                    {
                                        Title = T("Plugins.Misc.ZimzoneAdditionalFeature.ZimzoneServiceProductName").Text,
                                        Width = "100"
                                    },
                                    new ColumnProperty(nameof(ZimzoneServiceModel.ServicePaymentProductName))
                                    {
                                        Title = T("Plugins.Misc.ZimzoneAdditionalFeature.ZimzoneServicePaymentProductName").Text,
                                        Width = "100"
                                    },
                                    new ColumnProperty(nameof(ZimzoneServiceModel.IsActive))
                                    {
                                       Title = T("Admin.ContentManagement.Widgets.Fields.IsActive").Text,
                                        Width = "100",
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Render = new RenderBoolean(),
                                    },
                                    new ColumnProperty(nameof(ZimzoneServiceModel.Id))
                                    {
                                        Title = T("Admin.Common.Edit").Text,
                                        Width = "80",
                                        ClassName =  NopColumnClassDefaults.Button,
                                        Render = new RenderCustom("EditService")
                                    },
                                    new ColumnProperty(nameof(ZimzoneServiceModel.Id))
                                    {
                                        Title = T("Admin.Common.Delete").Text,
                                        Width = "80",
                                        ClassName =  NopColumnClassDefaults.Button,
                                        Render = new RenderCustom("DeleteService")
                                    }
                                }
                       })
                            <script>
                                function EditService(data, type, row, meta) {
                                    return '<a class="btn btn-default" href="EditService/' + row.Id + '"><i class="fa fa-pencil"></i>Edit</a>';
                                };
                                function DeleteService(data, type, row, meta) {
                                    return '<a class="btn btn-default" onclick="return ConfirmDelete();" href="DeleteService/' + row.Id + '"><i class="fa fa-pencil"></i>Delete</a>';
                                };
                                function ConfirmDelete() {
                                    return confirm('Do you want to delete?');
                                };
                            </script>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>
