﻿@model QuestionModel
@using Nop.Core.Domain.Media
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("Plugins.Misc.ZimzoneAdditionalFeature.PageTitle.SubmitQuestion").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}

<div class="page book-a-service-page">
    <div class="page-body">
        <div class="container">
            <div class="my-4">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "submit-a-query" })
            </div>
            @if (Model.SuccessfullySubmitted)
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                <form asp-route="Customer.AdditionalFeature" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="form-fields">

                            <div class="inputs half-width">
                                @if (!string.IsNullOrEmpty(Model.FirstName))
                                {
                                    <input readonly asp-for="FirstName" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.FirstName")" class="first-name" />
                                }
                                else
                                {
                                    <input asp-for="FirstName" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.FirstName")" class="first-name" />
                                }
                                <nop-required />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="inputs half-width">
                                @if (!string.IsNullOrEmpty(Model.LastName))
                                {
                                    <input readonly asp-for="LastName" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.LastName")" class="last-name" />
                                }
                                else
                                {
                                    <input asp-for="LastName" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.LastName")" class="last-name" />
                                }
                                <nop-required />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="inputs half-width">
                                @*<label asp-for="Email" asp-postfix=":"></label>*@

                                @if (!string.IsNullOrEmpty(Model.Email))
                                {
                                    <input readonly asp-for="Email" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.Email")" class="email" />
                                }
                                else
                                {
                                    <input asp-for="Email" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.Email")" class="email" />
                                }
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>

                            <div class="inputs half-width">
                                @*<label asp-for="PhoneNumber" asp-postfix=":"></label>*@
                                <input asp-for="PhoneNumber" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.PhoneNumber")" class="phone-number" />
                                <nop-required />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="inputs">
                                @*<label asp-for="Subject" asp-postfix=":"></label>*@
                                <input asp-for="ProductName" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.ProductName")" class="product-name" />
                                @*<nop-required />*@
                                <span asp-validation-for="ProductName"></span>
                            </div>


                            <div class="inputs">
                                @*<label asp-for="Subject" asp-postfix=":"></label>*@
                                <input asp-for="ProductDescription" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.ProductDescription")" class="product-description" />
                                @*<nop-required />*@
                                <span asp-validation-for="ProductDescription"></span>
                            </div>


                            <div class="inputs">
                                @*<label asp-for="BriefSummary" asp-postfix=":"></label>*@
                                <textarea asp-for="Message" rows="10" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.Message")" class="message"></textarea>
                                <nop-required />
                                <span asp-validation-for="Message"></span>
                            </div>

                            <div class="inputs">
                                @*<label asp-for="Email" asp-postfix=":"></label>*@
                                <input asp-for="AdditionalLink" placeholder="@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.AdditionalLink")" class="additional-link" />
                                <span asp-validation-for="AdditionalLink"></span>
                            </div>

                            <div class="inputs">
                                @{
                                    var controlId = "DownloadGuid";
                                    Download download = null;

                                    //register CSS and JS
                                    Html.AddCssFileParts(ResourceLocation.Footer, "~/lib_npm/fine-uploader/fine-uploader/fine-uploader.min.css");
                                    Html.AddScriptParts(ResourceLocation.Footer, "~/lib_npm/fine-uploader/jquery.fine-uploader/jquery.fine-uploader.min.js");

                                    //ex. ['jpg', 'jpeg', 'png', 'gif'] or []
                                    var allowedFileExtensions = string.Join(", ", new List<string>() { "jpg", "jpeg", "png", "pdf", "doc", "docx", }.Select(x => "'" + x.Trim() + "'").ToList());

                                    if (download != null)
                                    {
                                        <input asp-for="DownloadGuid" name="@(controlId)" type="hidden" value="@download.DownloadGuid" />
                                    }
                                    else
                                    {
                                        <input asp-for="DownloadGuid" name="@(controlId)" type="hidden" />
                                    }

                                    @*fine uploader container*@
                                    <div id="@(controlId)uploader"></div>
                                    @*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
                                    <script type="text/template" asp-location="Footer" id="@(controlId)-qq-template">
                                        <div class="qq-uploader-selector qq-uploader">
                                            <div class="qq-upload-drop-area-selector qq-upload-drop-area">
                                                <span>@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.UploadFile.Text")</span>
                                            </div>
                                            <div class="qq-upload-button-selector qq-upload-button">
                                                <div>@T("Plugins.Misc.ZimzoneAdditionalFeature.Question.UploadFile.Text")</div>
                                            </div>
                                            <span class="qq-drop-processing-selector qq-drop-processing">
                                                <span>@T("Common.FileUploader.Processing")</span>
                                                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                            </span>
                                            <ul class="qq-upload-list-selector qq-upload-list">
                                                <li>
                                                    <div class="qq-progress-bar-container-selector">
                                                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                                                    </div>
                                                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                                                    <span class="qq-upload-file-selector qq-upload-file"></span>
                                                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                    <span class="qq-upload-size-selector qq-upload-size"></span>
                                                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                                                    <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                                                    <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                                                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </script>
                                    <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $("#@(controlId)uploader").fineUploader({
                                            request: {
                                                endpoint: '@(Url.RouteUrl("Customer.UploadFileSubmitQuery"))'
                                            },
                                            template: "@(controlId)-qq-template",
                                            multiple: false,
                                            validation: {
                                                allowedExtensions: [@Html.Raw(allowedFileExtensions)]
                                            }
                                        }).on("complete", function(event, id, name, responseJSON, xhr) {
                                            $("#@(controlId)").val(responseJSON.downloadGuid);
                                            if (responseJSON.success) {
                                                $("#@(controlId + "downloadurl")").html("<a href='" + responseJSON.downloadUrl + "'>@T("Common.FileUploader.DownloadUploadedFile")</a>");
                                                $("#@(controlId + "remove")").show();
                                            }
                                            if (responseJSON.message) {
                                                alert(responseJSON.message);
                                            }
                                        });

                                        $("#@(controlId + "remove")").on('click', function(e) {
                                            $("#@(controlId + "downloadurl")").html("");
                                            $("#@(controlId)").val('');
                                            $(this).hide();
                                        });
                                    });
                                    </script>
                                    <div id="@(controlId + "downloadurl")">
                                        @if (download != null)
                                        {
                                            <a href="@(Url.Action("GetFileUpload", "Download", new {downloadId = download.DownloadGuid}))" class="download-uploaded-file">@T("Common.FileUploader.DownloadUploadedFile")</a>
                                        }
                                    </div>
                                    <div>
                                        @if (download != null)
                                        {
                                            <a id="@(controlId + "remove")" class="remove-download-button">@T("Common.FileUploader.RemoveDownload")</a>
                                        }
                                        else
                                        {
                                            <a id="@(controlId + "remove")" class="remove-download-buttonn" style="display: none;">@T("Common.FileUploader.RemoveDownload")</a>
                                        }
                                    </div>

                                }
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <nop-captcha />
                            }
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("Plugins.Misc.ZimzoneAdditionalFeature.SubmitQuery.Button")" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>
