﻿@model IList<ServiceRequestModel>
@{
    Layout = "_ColumnsTwo";
    //page class
    Html.AppendPageCssClassParts("html-account-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.CheckGiftCardBalance })
}
<div class="page account-page order-list-page">
    <div class="page-title" style="text-align:center">
        <h1>@T("Account.MyAccount") - @T("Plugins.Misc.ZimzoneAdditionalFeature.Service.Requests")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="order-list">
                @foreach (var request in Model)
                {
                    <div class="section order-item">
                        <div class="title">
                            <strong>@T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.Field.ServiceName"): @request.ServiceName </strong>
                        </div>
                        <ul class="info">
                            <li>@T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.Field.Status"): <span class="order-total">@request.Status</span></li>
                            @if (request.IsAgreed)
                            {
                                <li>@T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.Field.AgreedAmount"): <span class="order-total">@request.AgreedAmountInCustomerCurrency</span></li>
                            }

                        </ul>
                        <div class="buttons">
                            <button type="button" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("Customer.ServiceRequestDetails", new { requestId = request.Id })')">@T("Plugins.Misc.ZimzoneAdditionalFeature.RequestDetails")</button>

                            @if (request.IsAgreed && request.PaidByOrderItemId == 0)
                            {
                                 <button type="button" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("Customer.ServiceRequestPayment", new { requestId = request.Id })')">@T("Plugins.Misc.ZimzoneAdditionalFeature.PayNow")</button>
                            }


                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Plugins.Misc.ZimzoneAdditionalFeature.NoRequests")
            </div>
        }
    </div>
</div>

<script asp-location="Footer">
    $(".page-title").prependTo(".master-column-wrapper");
</script>
