﻿@** Copyright 2019 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model SevenSpikes.Nop.Plugins.AjaxCart.Models.ProductAddedToCartPopupDialogModel
@inject IWorkContext workContext
@inject ICustomerService customerService
@{
    var shoppingCartItemModel = Model.MiniShoppingCart.Items.Count > 0 ? Model.MiniShoppingCart.Items[0] : null;
    var customer = await workContext.GetCurrentCustomerAsync();
    var isRegisteredCustomer = await customerService.IsRegisteredAsync(customer);
}
@if (shoppingCartItemModel != null)
{
    <div class="productAddedToCartWindow">
        <div class="productAddedToCartWindowTitle">
            @T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxTitle")
        </div>
        <div class="productAddedToCartItem">
            <div class="productAddedToCartWindowImage">
                <a href="@Url.RouteUrl("Product", new { SeName = shoppingCartItemModel.ProductSeName })" title="@shoppingCartItemModel.Picture.Title">
                    <img alt="@shoppingCartItemModel.Picture.AlternateText" src="@shoppingCartItemModel.Picture.ImageUrl" title="@shoppingCartItemModel.Picture.Title" />
                </a>
            </div>
            <div class="productAddedToCartWindowDescription">
                <h1>
                    <a href="@Url.RouteUrl("Product", new { SeName = shoppingCartItemModel.ProductSeName })">@shoppingCartItemModel.ProductName</a>
                </h1>
                <strong class="price">@shoppingCartItemModel.UnitPrice @T("SevenSpikes.NopAjaxCart.PerUnit")</strong>
                <div class="attributeInfo">@Html.Raw(shoppingCartItemModel.AttributeInfo)</div>
                <span class="quantity">@T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxQuantity") : @shoppingCartItemModel.Quantity</span>
            </div>
        </div>
        <div class="productAddedToCartWindowSummary">
            <a class="continueShoppingLink" href="#">@T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxContinueShopping")</a>
            @if (Model.MiniShoppingCart.DisplayCheckoutButton)
            {
                var checkoutUrl = "";
                if (Model.MiniShoppingCart.AnonymousCheckoutAllowed && Model.MiniShoppingCart.CurrentCustomerIsGuest)
                {
                    checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                }
                else
                {
                    checkoutUrl = Url.RouteUrl("Checkout");
                }
                <a class="viewBasketLink" href="@Url.RouteUrl("ShoppingCart")">@T("SevenSpikes.NopAjaxCart.ShoppingCartNotificationBoxViewYourBasket")</a>
                <div class="checkoutButtonWrapper">
                    <button type="submit" class="button-1 productAddedToCartWindowCheckout" onclick="setLocation('@checkoutUrl');">@T("Checkout.Button")</button>
                </div>
            }
            else
            {
                <div class="shoppingCartButtonWrapper">
                    <button type="submit" class="button-1 productAddedToCartWindowCheckout" onclick="setLocation('@Url.RouteUrl("ShoppingCart")');">@T("ShoppingCart.Mini.ViewCart")</button>
                </div>
            }
        </div>
        @if (Model.EnableRelatedProductsInPopup)
        {
            @await Component.InvokeAsync("NopAjaxCartPopupRelatedProducts", new { productId = shoppingCartItemModel.ProductId });
        }

        @if (Model.EnableCrossSellProductsInPopup)
        {
            @await Component.InvokeAsync("NopAjaxCartPopupCrossSellProducts", new { productId = shoppingCartItemModel.ProductId });
        }
    </div>
}
else
{
    @*<style>

        }
            </style>*@
    <div class="service-request-submitted-window">
        <div class="request-submitted-title">
            <h3>@T("Plugins.Misc.ZimzoneAdditionalFeature.Request.Submitted")</h3>
        </div>
        <div class="request-submitted-buttons">

            @if (isRegisteredCustomer)
            {
                <button type="submit" class="request-submitted-buttons-link" onclick="setLocation('/')">@T("Plugins.Misc.ZimzoneAdditionalFeature.Account.ContinueShopping.Text")</button>

                <button type="submit" class="request-submitted-buttons-link" onclick="setLocation('@Url.RouteUrl("Customer.ServiceRequests")')">@T("Plugins.Misc.ZimzoneAdditionalFeature.Account.ViewYourRequestButton.Text")</button>
            }
            else
            {
                <button type="submit" class="request-submitted-buttons-link" onclick="setLocation('@Url.RouteUrl("Login", new { returnUrl = Url.RouteUrl("Customer.ServiceRequests") })')">@T("Plugins.Misc.ZimzoneAdditionalFeature.Account.GoToLogIn.Text")</button>
            }
        </div>

    </div>
}

