﻿@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}
<div class="page shopping-cart-page">
    <div class="page-title">
        <h1>@T("ShoppingCart")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
    </div>
</div>

<script asp-location="Footer">
    $(function () {
        $.ajax({
            cache: false,
            type: "GET",
            url: "@Url.Action("SyncStock", "ErpStockSync")",
            dataType: "json",
            success: function (response) {
            },
            error: function (error) {
            },
            complete: function (jqXHR, textStatus) {
            }

        });
    });
</script>
