﻿@model SaleOfTheDayListModel
@inject SaleOfTheDaySettings saleOfTheDaySettings
@inject IViewComponentSelector viewComponentSelector
@inject IProductService productService
@inject IProductModelFactory productModelFactory
@using System.Linq

@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Themes/" + Model.Theme + "/Content/SaleOfTheDay.css");

    var supportRtlClass = string.Empty;

    var supportRtl = await this.ShouldUseRtlThemeAsync();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Themes/" + Model.Theme + "/Content/SaleOfTheDay.rtl.css");

        supportRtlClass = "support-rtl";
    }

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Scripts/owl.carousel.min.js");
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Styles/owl.carousel.css");

    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Scripts/SaleOfTheDay.min.js");

    bool hasAnySpecialPrice = Model.SaleOfTheDayOffers.Any(x => x.Products.Any(p => p.SpecialPriceEndDate.HasValue));

    if (hasAnySpecialPrice && saleOfTheDaySettings.ShowSpecialPriceCountdownTimer)
    {
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Scripts/SaleOfTheDay.countdown.timer.min.js");
    }

    foreach (var offer in Model.SaleOfTheDayOffers)
    {
        var productIds = offer.Products.Select(x => x.ProductOverviewModel.Id).ToArray();
        var nopProducts = await productService.GetProductsByIdsAsync(productIds);
        var nopProductOverViewModels = (await productModelFactory.PrepareProductOverviewModelsAsync(nopProducts, preparePictureModel: true)).ToList();

        if (offer.Products.Count == nopProductOverViewModels.Count)
        {
            var i = 0;
            foreach (var product in offer.Products)
            {
                product.ProductOverviewModel = nopProductOverViewModels[i];
                var nopProduct = nopProducts[i];
                if (nopProduct != null)
                {
                    var nopProductDetailsModel = await productModelFactory.PrepareProductDetailsModelAsync(nopProduct);

                    product.PictureModels = nopProductDetailsModel.PictureModels;
                }
                i++;
            }
        }

    }
}

<div class="sale-of-the-day-offer @supportRtlClass">
    @foreach (var offer in Model.SaleOfTheDayOffers)
    {
        <div class="title">
            <strong>@offer.Title</strong>
        </div>
        <div class="sotd-wrapper">
            <div class="grid @if (offer.Products.Count > 1){<text>owl-carousel</text>}">
                @foreach (var product in offer.Products)
                {
                    <div class="product-element sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id" data-productid="@product.ProductOverviewModel.Id">
                        <div class="sale-item @if (product.SpecialPriceEndDate.HasValue) { <text>timed-offer</text> }">
                            <!--product pictures-->
                            <div class="name-and-timer">
                                <!--countdown timer-->
                                @if (saleOfTheDaySettings.ShowSpecialPriceCountdownTimer)
                                {
                                    if (product.SpecialPriceEndDate.HasValue)
                                    {
                                        int dateTimeDifference = (int)(product.SpecialPriceEndDate.Value - DateTime.UtcNow).TotalSeconds;

                                        <div class="countdown-timer" data-time="@dateTimeDifference">
                                            <div class="timer-group days">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                            <div class="timer-group hours">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                            <div class="timer-group minutes">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                            <div class="timer-group seconds">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="product-name">
                                    <h2 class="item-name">
                                        <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverviewModel.SeName })">@product.ProductOverviewModel.Name</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="item-gallery">
                                <div class="item-picture">
                                    <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverviewModel.SeName })" title="@product.ProductOverviewModel.Name">
                                        @if (viewComponentSelector.SelectComponent("LazyLoadImage") != null)
                                        {
                                            @await Component.InvokeAsync("LazyLoadImage", new (string Key, string Value)[]
                                            {
                                                ("src", product.ProductOverviewModel.DefaultPictureModel.ImageUrl),
                                                ("alt", product.ProductOverviewModel.DefaultPictureModel.AlternateText),
                                                ("title", product.ProductOverviewModel.DefaultPictureModel.Title)
                                            })
                                        }
                                        else
                                        {
                                            <img alt="@product.ProductOverviewModel.DefaultPictureModel.AlternateText" src="@product.ProductOverviewModel.DefaultPictureModel.ImageUrl" title="@product.ProductOverviewModel.DefaultPictureModel.Title" />
                                        }
                                    </a>
                                </div>
                                @if (product.PictureModels != null && product.PictureModels.Count > 1)
                                {
                                    <div class="picture-thumbs">
                                        @foreach (var picture in product.PictureModels)
                                        {
                                            <a class="thumb-item" href="@picture.FullSizeImageUrl" title="@product.ProductOverviewModel.Name">
                                                <span>
                                                    @if (viewComponentSelector.SelectComponent("LazyLoadImage") != null)
                                                    {
                                                        @await Component.InvokeAsync("LazyLoadImage", new (string Key, string Value)[]
                                                        {
                                                            ("src", picture.ImageUrl),
                                                            ("alt", picture.AlternateText),
                                                            ("title", picture.Title)
                                                        })
                                                    }
                                                    else
                                                    {
                                                        <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                                                    }
                                                </span>
                                            </a>
                                        }
                                    </div>

                                    <script type="text/javascript" asp-location="Footer">

                                        $('.sale-of-the-day-offer').on('click', '.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id .thumb-item', function (e) {
                                            e.preventDefault();

                                            var that = $(this);

                                            var fullImageUrl = that.attr('href');
                                            if (fullImageUrl == undefined || fullImageUrl == '') {
                                                return;
                                            }

                                            $('.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id').find(".item-picture img").each(function () {
                                                $(this).attr('src', fullImageUrl);
                                            });
                                        });

                                    </script>
                                    <script type="text/javascript" asp-location="Footer">
                                        $(document).ready(function () {
                                            var isRtl = $("html").attr("dir") == "rtl";

                                            $('.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id .picture-thumbs').slick({
                                                infinite: true,
                                                arrows: true,
                                                dots: false,
                                                draggable: false,
                                                slidesToShow: 4,
                                                slidesToScroll: 1,
                                                vertical: true,
                                                responsive: [
                                                    {
                                                        breakpoint: 1280,
                                                        settings: {
                                                            rtl: isRtl,
                                                            vertical: false,
                                                            swipe: false
                                                        }
                                                    }
                                                ]
                                            });
                                        });
                                    </script>
                                }
                            </div>

                            <div class="overview">

                                @if (!String.IsNullOrEmpty(product.ProductOverviewModel.ShortDescription))
                                {
                                    <div class="short-description">
                                        @Html.Raw(product.ProductOverviewModel.ShortDescription)
                                    </div>
                                }

                                <!--price-->
                                <div class="prices">
                                    @if (!String.IsNullOrEmpty(product.ProductOverviewModel.ProductPrice.OldPrice))
                                    {
                                        <span class="price old-price">@product.ProductOverviewModel.ProductPrice.OldPrice</span>
                                    }
                                    <span class="price actual-price">@product.ProductOverviewModel.ProductPrice.Price</span>
                                    @if (product.ProductOverviewModel.ProductPrice.DisplayTaxShippingInfo)
                                    {
                                        var inclTax = await EngineContext.Current.Resolve<IWorkContext>().GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
                                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                                        //of course, you can modify appropriate locales to include VAT info there
                                        <div class="tax-shipping-info">
                                            @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("shippinginfo") }))
                                        </div>
                                    }
                                </div>

                                <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverviewModel.SeName })" class="button-1 go-to-product-page">@T("SevenSpikes.SaleOfTheDay.Public.GoToProductPage")</a>
                            </div>

                            @*
                                @if (!String.IsNullOrEmpty(product.ProductOverviewModel.FullDescription))
                                {
                                    <div class="full-description" itemprop="description">
                                        @Html.Raw(product.ProductOverviewModel.FullDescription)
                                    </div>
                                }
                            *@
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <input type="hidden" id="saleOfTheDayInfo"
           data-localization-day="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Day")" data-localization-days="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Days")"
           data-localization-hour="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Hour")" data-localization-hours="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Hours")"
           data-localization-minute="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Minute")" data-localization-minutes="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Minutes")"
           data-localization-second="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Second")" data-localization-seconds="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Seconds")">
</div>

<script type="text/javascript" asp-location="Footer">
    (function ($, ssCore) {

        $(document).ready(function () {

            $('.sale-of-the-day-offer .owl-carousel').not('.initialized').each(function () {

                var that = $(this);
                var saleOfTheDay = $(that).parents().find('.sale-of-the-day-offer');

                var saleOfTheDayLoaded = false;

                lazyLoadSaleOfTheDay = function (that, offer) {

                    if (ssCore.isInViewPort(offer) && !saleOfTheDayLoaded) {

                        that.owlCarousel({
                            rtl: $('.sale-of-the-day-offer.support-rtl').length > 0,
                            loop: true,
                            nav: true,
                            items: 1,
                            //autoHeight: true,
                            autoplay: false,
                            autoplayTimeout: 5000,
                            smartSpeed: 500,
                            autoplayHoverPause: true,
                            touchDrag: true,
                            mouseDrag: true,
                            pullDrag: true,
                            onInitialized: function () {
                                that.addClass('initialized');

                                $(document).trigger('SevenSpikesSaleOfTheDayInitializedEvent');
                            }
                        });

                        $(window).off('scroll.SevenSpikesSaleOfTheDay');
                        $(window).off('resize.SevenSpikesSaleOfTheDay');

                        saleOfTheDayLoaded = true;
                    }
                };

                lazyLoadSaleOfTheDay(that, saleOfTheDay);
                $(window).on('scroll.SevenSpikesSaleOfTheDay', function () { lazyLoadSaleOfTheDay(that, saleOfTheDay); });
                $(window).on('resize.SevenSpikesSaleOfTheDay', function () { lazyLoadSaleOfTheDay(that, saleOfTheDay); });
            });
        });
    })(jQuery, window.sevenSpikesCore = window.sevenSpikesCore || {});
</script>