﻿@model CustomOrderStatusSearchModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.CustomOrderStatus.PageTitle").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AdditionalFeature.CustomOrderStatus");
}

@{
    const string hideSearchBlockAttributeName = "CustomerListPage.HideSearchBlock";
    var hideSearchBlock = true;
}

<form asp-controller="CustomOrderStatus" asp-action="CustomOrderStatusList" method="post" id="custom-order-status-form">
    <div class="content-header clearfix">
        <div class="float-right">
            <button type="submit" id="btnAddNewCustomOrderStatus" onclick="javascript:OpenWindow('@(Url.Action("CustomOrderStatusInsert", "CustomOrderStatus", new { btnId = "btnRefreshCustomOrderStatus", formId = "custom-order-status-form"}))', 800, 600, true); return false;" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </button>

            <button type="submit" id="btnRefreshCustomOrderStatus" style="display: none"></button>
            <script>
                $(document).ready(function () {
                    $('#btnRefreshCustomOrderStatus').click(function () {
                        updateTable('#custom-order-status-grid');
                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>

            <button type="button" id="delete-selected" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">

                    @*Adding Searching Properties*@

                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="CustomOrderStatusName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="CustomOrderStatusName" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="ParentOrderStatusId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="ParentOrderStatusId" asp-items="Model.OrderStatusList" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-custom-order-status" class="btn btn-primary btn-search"><i class="fas fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Ending Searching Properties*@

                    <div class="card card-default">
                        <div class="card-body">
                            @await Html.PartialAsync("Table", new DataTablesModel()
                       {
                           Name = "custom-order-status-grid",
                           UrlRead = new DataUrl("CustomOrderStatusList", "CustomOrderStatus", null),
                           UrlUpdate = new DataUrl("CustomOrderStatusUpdate", "CustomOrderStatus", null),
                           SearchButtonId = "search-custom-order-status",
                           Length = Model.PageSize,
                           LengthMenu = Model.AvailablePageSizes,
                           Filters = new List<FilterParameter>
                           {
                               new FilterParameter(nameof(Model.CustomOrderStatusName)),
                               new FilterParameter(nameof(Model.ParentOrderStatusId))
                           },

                           ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(CustomOrderStatusModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_custom_order_status"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50"
                                },
                                new ColumnProperty(nameof(CustomOrderStatusModel.CustomOrderStatusName))
                                {
                                    Title = T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.Fields.CustomOrderStatusName").Text,
                                    Editable = true,
                                    EditType = EditType.String
                                },
                                new ColumnProperty(nameof(CustomOrderStatusModel.ParentOrderStatus))
                                {
                                    Title = T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.Fields.ParentOrderStatus").Text,
                                },
                                new ColumnProperty(nameof(CustomOrderStatusModel.DisplayOrder))
                                {
                                    Title = T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.Fields.DisplayOrder").Text,
                                    Editable = true,
                                    EditType = EditType.Number
                                },

                                new ColumnProperty(nameof(CustomOrderStatusModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonsInlineEdit()
                                }
                            }
                       })

                            <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("CustomOrderStatusDelete", "CustomOrderStatus"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            showAlert('deleteSelectedFailed', errorThrown);
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            if (jqXHR.status === 204)
                                            {
                                                showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                                return;
                                            }
                                            updateTable('#custom-order-status-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });
                            </script>

                            <nop-alert asp-alert-id="deleteSelectedFailed" />
                            <nop-alert asp-alert-id="nothingSelectedAlert" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</form>