﻿@model CustomOrderStatusModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.CustomOrderStatusInsert.PageTitle").Text;
}

@if (ViewBag.RefreshPage == true)
{
<script>
    console.log('@(Context.Request.Query["formId"])');
            try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
            catch (e){}
            window.close();
</script>
}

<form asp-controller="CustomOrderStatus" asp-action="CustomOrderStatusInsert" asp-route-formId="@Context.Request.Query["formId"]" asp-route-btnId="@Context.Request.Query["btnId"]">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header clearfix">
                <h1 class="float-left">
                    @T("Admin.Common.AddNew")
                </h1>
                <div class="float-right">
                    <button type="submit" name="save" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        @T("Admin.Common.Save")
                    </button>
                </div>
            </div>


            <div class="form-horizontal">
                <div class="form-horizontal">
                    <div class="cards-group">
                        <div class="card card-default card-popup">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="CustomOrderStatusName" />
                                    </div>
                                    <div class="col-sm-9">
                                        <nop-editor asp-for="CustomOrderStatusName" />
                                        <span asp-validation-for="CustomOrderStatusName"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="ParentOrderStatusId" />
                                    </div>
                                    <div class="col-sm-9">
                                        <nop-select asp-for="ParentOrderStatusId" asp-items="Model.OrderStatusList" />
                                        <span asp-validation-for="ParentOrderStatusId"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <nop-label asp-for="DisplayOrder" />
                                    </div>
                                    <div class="col-sm-9">
                                        <nop-editor asp-for="DisplayOrder" />
                                        <span asp-validation-for="DisplayOrder"></span>
                                    </div>
                                </div>

                            </div>

                            @if (Model.Errors.Count > 0)
                            {
                                <div>
                                    <ul>
                                        @foreach (var error in Model.Errors)
                                        {
                                            <li class="text-danger">@error</li>
                                        }
                                    </ul>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</form>