﻿@model OCarouselModel

@if (Model.Manufacturers.Count > 0)
{
    <div class="owl-carousel ocarousel @Model.CustomCssClass" id="ocarousel-@(Model.Id)">
        @foreach (var manufacturerModel in Model.Manufacturers)
        {
            <div class="ocarousel-item">
                <a href="@Url.RouteUrl("Manufacturer", new { sename = manufacturerModel.SeName })" title="@manufacturerModel.PictureModel.Title">
                    <img alt="@manufacturerModel.PictureModel.AlternateText" src="@manufacturerModel.PictureModel.ImageUrl" title="@manufacturerModel.PictureModel.Title" />
                </a>
                <div class="manufacturer-name">
                    <a href="@Url.RouteUrl("Manufacturer", new {SeName = manufacturerModel.SeName})">@manufacturerModel.Name</a>
                </div>
            </div>
        }
    </div>

    <script>
        $(document).ready(function () {
            $('#ocarousel-@(Model.Id)').owlCarousel({
                nav: @Model.Nav.ToString().ToLower(),
                loop: @Model.Loop.ToString().ToLower(),
                dots: true,
                margin: 10,
                autoplay: @Model.AutoPlay.ToString().ToLower(),
                rtl: @Model.RTL.ToString().ToLower(),
                autoplayTimeout: @Model.AutoPlayTimeout,
                autoplayHoverPause: @Model.AutoPlayHoverPause.ToString().ToLower(),
                lazyLoad: @Model.LazyLoad.ToString().ToLower(),
                lazyLoadEager: @Model.LazyLoadEager,
                center: @Model.Center.ToString().ToLower(),
                startPosition: @Model.StartPosition,
                responsive: {
                    0: {
                        items: 1
                    },
                    576: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    992: {
                        items: 4
                    },
                    1200: {
                        items: 4
                    },
                    1500: {
                        items: 4
                    }
                }
            });
        });
    </script>
}