@model ElectrosalesVoucherModel

@{
    //page title
    ViewBag.PageTitle = T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.ElectrosalesVoucher.Edit").Text;
    Layout = "_AdminLayout";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AdditionalFeature.ElectrosalesVoucher");
}

<form asp-controller="ElectrosalesVoucher" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.ElectrosalesVoucher.Edit")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Misc.ZimzoneAdditionalFeature.Admin.ElectrosalesVoucher.BackToVoucherList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="giftcard-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.GiftCardDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="giftcard-delete" />
